body {
  background-color: #F7CCAC;
}

p::before {
  content: "➡️";
}

p::after {
  content: "⬅️";
}

p:hover {
  background-color: blue;
  transition: background-color 2s ease-out;
}

.titulek {
  margin: auto;
  width: 60%;
  text-align: center;
}

.upperRow {
  height: 20px;
}
