body {
  background-color: #F7CCAC;
}

p::before {
  content: "➡️";
}

p::after {
  content: "⬅️";
}

p:hover {
  background-color: blue;
  transition: background-color 2s ease-out;
}

.titulek {
  margin: auto;
  width: 60%;
  text-align: center;
  background-color: #C69B7B;
}

.flexbox {
  display: flex;
  width: auto;
}

.flexboxLeft {
  background: #ce8888;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
  width: 40%;
}
.flexboxRight {
  background: #ce8888;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
  width: 40%;
}

.cssGrid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100px;
        grid-column-gap: 5px;
        margin-left: 10%;
        margin-right: 10%;
}

.gridLeft {
  background: #ce8800;
}

.gridRight {
  background: #ce8800;
}

#page {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "head head head"
                       "nav main main"
                       "nav foot sign";
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 150px 1fr 100px;
}

#page > header {
  grid-area: head;
  background-color: #8ca0ff;
  transition: background-color 2s ease-out;
}

#page > nav {
  grid-area: nav;
  background-color: #ffa08c;
  transition: background-color 2s ease-out;
}

#page > main {
  grid-area: main;
  background-color: #ffff64;
  transition: background-color 2s ease-out;
}

#page > footer {
  grid-area: foot;
  background-color: #8cffa0;
  transition: background-color 2s ease-out;
}

#page > sign {
  grid-area: sign;
  background-color: red;
  transition: background-color 2s ease-out;
}
.pGrid:hover {
  background-color: green;
  transition: background-color 2s ease-out;
}
