body {
  background-color: #F7CCAC;
}

p::before {
  content: "➡️";
}

p::after {
  content: "⬅️";
}

p:hover {
  background-color: blue;
  transition: background-color 2s ease-out;
}

.titulek {
  margin: auto;
  width: 60%;
  text-align: center;
}

.upperContainer-flexbox {
  display: flex;
  align-items: center;
  width: auto;
}

.upperLeft {
  background: #ce8888;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
  align-self: flex-start;
}
.upperRight {
  background: #ce8888;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
  align-self: flex-end;
}

.cssGrid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 100px;
        grid-column-gap: 5px;
        margin-left: 10%;
        margin-right: 10%;
}

.leftBox {
  background: #ce8800;
}

.rightBox {
  background: #ce8800;
}
